<style>
    #buttomnav{
        height: 85px;
        width: 100%;
        position: fixed;
        bottom: 0px;
        background-color: #F2F2FA;
        box-shadow: 0px -10px 26px rgb(79 79 79 / 40%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>

<div id="buttomnav">
    <div class="lowericon text-center" id="homeicon">
        <img src="icon/essentials/home.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Home</p>
    </div>
    <div class="lowericon text-center" id="plusicon">
        <img src="icon/essentials/plus.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Plus</p>
    </div>
    <div class="lowericon text-center" id="hearticon">
        <img src="icon/essentials/heart.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Heart</p>
    </div>
    <div class="lowericon text-center" id="profileicon">
        <img src="icon/essentials/profile.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Profile</p>
    </div>
</div>