<style>
    nav{
        height: 72px; 
        width: 90%;
        margin: auto 5%;
        position: fixed; 
        z-index: 10; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #menu{
        width: 27px;
        height: 23px;
    }
    .spacing16{
        margin: auto 8px;
    }
</style>

<nav>
    <img src="/icon/essentials/menu.svg" id="menu" alt="">
    <div>
        <img src="/icon/essentials/search.svg" class="spacing16" alt="">
        <img src="/icon/essentials/bell.svg" class="spacing16" alt="">
        <img src="/icon/essentials/person.svg" class="spacing16" alt="">
    </div>
</nav>