<style>
    #review-container{
        margin: 10px 5%;
        box-sizing: border-box;
    }
    #review-content {
        background: #D9D9D9;
        border-radius: 0px 40px 30px;
        padding: 10px 5%;
        margin-top: 20px;
    }
    #review-name{
        justify-content: center;;
        /* align-items: center; */
    }
    #review-name p{
        margin: 5px 10px;
    }
</style>
<h1 class="h2text text-center">Your Reviews:</h1>
<div id="review-container">
    <div id="review-content">
        <div id="reviewer" class="flex">
            <img src="/icon/review/profile.svg" alt="">
            <div id="review-name" class="flex-col">
                <p class="subtitle bold">
                    <%= user.name%>
                </p>
                <p>
                    <% for(let i=0;i<3;i++) {%>
                        <img src="/icon/review/Star2.svg" class="staricon" alt="">
                    <% } %>
    
                </p>
            </div>
        </div>
        <p class="bodytext">
            
        <p>
    </div>
</div>
<h1 class="h2text text-center">Reviews:</h1>
<div id="review-container">
    <% for(let Review of Reviews) { %>
        <div id="review-content">
            <div id="reviewer" class="flex">
                <img src="/icon/review/profile.svg" alt="">
                <div id="review-name" class="flex-col">
                    <p class="subtitle bold">
                        <%= Review.user.name%>
                    </p>
                    <p>
                        <%let i%>
                        <% for(i=0;i<Review.star;i++) {%>
                            <img src="/icon/review/Star2.svg" class="staricon" alt="">
                        <% } %>

                    </p>
                </div>
            </div>
            <p id="review-content" class="bodytext">
                <%= Review.content %>
            <p>
        </div>
    <% } %>
</div>